<div class="basis-1/3 overflow-x-auto">
  <div class="border border-b-0 flex justify-end p-3">
    <p class="flex-grow font-semibold text-lg justify-start items-center">
      <%= t(:label_chats) %>
    </p>
    <%= button_tag class: 'text-[13px] inline-flex cursor-pointer items-center justify-center gap-2 rounded-md border bg-white p-1 align-middle text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50',
                   data: {
                     action: "click->open-modal#openModal",
                     controller: "open-modal",
                     "open-modal-title-value": "#{t(:button_create_chat)}",
                     "open-modal-partial-value": "chats/form",
                     "open-modal-url-value": "#{new_chat_path}",
                     "open-modal-turbo-frame-value": "new_chat",
                     "open-modal-has-continue-value": false,
                     "open-modal-action-method-value": "POST"
                   } do %>
      <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3687 6.5C12.6448 6.5 12.8687 6.72386 12.8687 7C12.8687 7.03856 12.8642 7.07699 12.8554 7.11452L11.3628 13.4581C11.1502 14.3615 10.3441 15 9.41597 15H6.58403C5.65593 15 4.84977 14.3615 4.6372 13.4581L3.14459 7.11452C3.08135 6.84572 3.24798 6.57654 3.51678 6.51329C3.55431 6.50446 3.59274 6.5 3.6313 6.5H12.3687ZM8.5 1C9.88071 1 11 2.11929 11 3.5H13C13.5523 3.5 14 3.94772 14 4.5V5C14 5.27614 13.7761 5.5 13.5 5.5H2.5C2.22386 5.5 2 5.27614 2 5V4.5C2 3.94772 2.44772 3.5 3 3.5H5C5 2.11929 6.11929 1 7.5 1H8.5ZM8.5 2.5H7.5C6.94772 2.5 6.5 2.94772 6.5 3.5H9.5C9.5 2.94772 9.05228 2.5 8.5 2.5Z"></path>
      </svg>
      <%= t(:button_create_chat) %>
    <% end %>
  </div>

  <div class="border border-b-0 border-l-0 inline-block min-w-full align-middle">
    <div class="overflow-hidden mb-6">
      <% if @chats.any? %>
        <% @chats.each do |chat| %>
          <%= render partial: "chats/chat", locals: { chat: chat } %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
<div class="basis-2/3 border border-l-0 overflow-x-auto">
  <div class="inline-block min-w-full align-middle">
    <div id="draft_content" class="mb-6 overflow-hidden">
    </div>
  </div>
</div>