<div data-controller="chat-content"
     data-url="<%= chat_path(chat) %>" data-action="click->chat-content#openChatContent"
     class="bg-white px-3 flex items-center hover:bg-grey-lighter cursor-pointer">
  <div>
    <% if chat.messages.present? %>
      <%= image_tag (chat.messages.last.user.avatar.attached? ? chat.messages.last.user.avatar : "shiba.png"), class: "h-12 w-12 rounded-full" %>
    <% else %>
      <%= image_tag "shiba.png", class: "h-12 w-12 rounded-full" %>
    <% end %>
  </div>
  <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
    <div class="flex items-bottom justify-between">
      <p class="text-grey-darkest">
        <%= chat.title %>
      </p>
      <p class="text-xs text-grey-darkest">
        <%= time_ago_in_words(chat.updated_at) %> <%= t(:label_time_ago) %>
      </p>
    </div>
    <p class="text-grey-dark mt-1 text-sm">
      <%= chat.messages.last.body.first(20) if chat.messages.present? %>
    </p>
  </div>
</div>
