<h1><%= @chat.title %></h1>

<div id="messages" class="flex space-y-3">
  <%= render @chat.messages %>
</div>

<%= form_with(model: [@chat, Message.new], local: true, class: "flex items-end") do |form| %>
  <%= form.text_area :body %>
  <%= form.submit "Отправить" %>
<% end %>
