<h1><%= @chat.title %></h1>

<div id="messages">
  <%= render @chat.messages %>
</div>

<%= form_with(model: [@chat, Message.new], local: true) do |form| %>
  <%= form.text_area :body %>
  <%= form.submit "Отправить" %>
<% end %>
